:root{
    --background: #e7e7e7;
    --foreground: #434343;
    --hightlight: #003399;
    --font-size: 60px;
    --underline: calc(var(--font-size) * 0.06)
}


@media (prefers-color-scheme: dark){
         :root{
         --background: #121211;
         --foreground: #FFFFFF;
         --hightlight: #7D9EE1;
     }
}
@media (max-width: 1100px){
    :root{
        --font-size: 50px
    }
}
@font-face{
    font-family: "IBM";
        src: url(/assets/fonts/IBMPlexSans-Light.woff) format("woff");
    font-style: normal;
}

body{
  font-family: "Times New Roman", "TimesNewRoman", "Times", serif, sans-serif;
  color: var(--foreground);
  font-weight: normal;
  letter-spacing: -0.15rem;
  background: var(--background);
  font-size: var(--font-size);
  max-width: 90%;
  width: 1000px;
  margin: 0 auto;
}
.landing{
    height: 80vh;
    margin-top: 10vh;
    margin-bottom: 6vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .003;
    -webkit-animation: FadeIn 1.3s forwards;
    animation: FadeIn 1.3s forwards;
    -webkit-animation-delay: 0.2s;
    animation-delay: 0.2s;
}
#cv p, ul{
    margin: 20px auto;
    opacity: .003;
    -webkit-animation: FadeIn 1.3s forwards;
    animation: FadeIn 1.3s forwards;
    -webkit-animation-delay: 0.5s;
    animation-delay: 0.5s;
}

a {
    color: var(--hightlight);
    border-bottom: none;
    text-decoration: none;
}
a #text{
    white-space: nowrap;
    border-bottom-style: solid;
    border-bottom-width: var(--underline); 
}
a #arrow{
    font-family: "IBM", sans-serif;
    font-size: calc(var(--font-size) - calc(var(--font-size)/8));
}
a svg{
    width: calc(var(--font-size) - calc(var(--font-size)/2.5));
    height: auto;
    fill: currentcolor;
}

@-webkit-keyframes FadeIn {
    0% {
        opacity:.003
    }

    to {
        opacity:1
    }
}

@keyframes FadeIn {
    0% {
        opacity:.003
    }

    to {
        opacity:1
    }
}
