:root{
    --background: #e7e7e7;
    --foreground: #434343;
    --hightlight: #003399;
}

@media (prefers-color-scheme: dark){
        :root{
        --background: #000000;
        --foreground: #FFFFFF;
        --hightlight: #3d7af4;
    }
}
@font-face{
    font-family: "Cormorant Garamond";
        src: url(/assets/fonts/CormorantGaramond-Italic.ttf) format("truetype");
    font-style: italic;
}
@font-face{
    font-family: "Cormorant Garamond";
        src: url(/assets/fonts/CormorantGaramond-Regular.ttf) format("truetype");
    font-style: normal;
}

* {
  font-family: "Times New Roman", "TimesNewRoman", "Cormorant Garamond", "Times", sans-serif;
  color: var(--foreground);
  font-weight: lighter;
  letter-spacing: -0.15rem;
  background: var(--background);
}

body{
  font-size: 60px;
  width: 1000px;
  margin: 0 auto;
  
}
.landing{
    height: 100vh;
     display: flex;
    align-items: center;
    justify-content: center;
}

a{
    text-decoration: none;
    white-space: nowrap;
}
#text{
    text-decoration: underline;
    text-decoration-thickness: 2.5px;
    text-underline-offset: 8px;
    color: var(--hightlight);
}
a svg{
    height: 30px;
    width: 30px;
    fill: var(--hightlight); 
}

@media (max-width: 1100px){
    body{
        max-width: 90%;
        font-size: 50px;
    }
    a svg{
        height: 25px;
        width: 25px;
    }
    #text{
        text-decoration-thickness: 2px;
        text-underline-offset: 6px;
    }
}
