:root{
    --background: #e7e7e7;
    --foreground: #434343;
    --hightlight: #003399;
    --font-size: 60px;
    --underline: calc(var(--font-size) * 0.06)
}


@media (prefers-color-scheme: dark){
         :root{
         --background: #121211;
         --foreground: #FFFFFF;
         --hightlight: #7D9EE1;
     }
}
@media (max-width: 1100px){
    :root{
        --font-size: 50px
    }
}

@font-face{
    font-family: "Arrows";
        src: url(/assets/fonts/Arrows.ttf) format("truetype");
    font-style: normal;
}

body{
  font-family: "Times New Roman", "TimesNewRoman", "Times", serif, sans-serif;
  color: var(--foreground);
  font-weight: lighter;
  letter-spacing: -0.15rem;
  background: var(--background);
  font-size: var(--font-size);
  max-width: 90%;
  width: 1000px;
  margin: 0 auto;
}
.landing{
    height: 80vh;
    margin-top: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#cv p, ul{
    margin: 20px auto;
}

a{
    text-decoration: none;
    white-space: nowrap;
    text-decoration: underline;
    text-decoration-thickness: var(--underline);
    text-underline-offset: calc(var(--underline) * 2);
    color: var(--hightlight);
}
a::after{
    content: " ↗︎";
    font-family: "Arrows", sans-serif;
    font-size: calc(var(--font-size)*0.7); 
}
